@IMPORT URL("HTTPS://FONTS.GOOGLEAPIS.COM/CSS2?FAMILY=ROBOTO:WGHT@300;400;500;700;900&DISPLAY=SWAP");

:ROOT {
  --PRIMARYTEXTCOLOR: #232E35; /* UNTUK TITLE ATAU JUDUL */
  --SECONDARYTEXTCOLOR: #656D72; /* UNTUK TEXT BIASA SEPERTI PARAGRAPH CONTOHNYA */

  --BORDERCOLOR: #F1F1F1;
  --LINECOLOR: #D9D9D9; /* UNTUK LINE DI PRE-TITLE */

  --PRIMARYBACKGROUNDCOLOR: #FFF;
  --SECONDARYBACKGROUNDCOLOR: #FBFBFB;
  --THIRDBACKGROUNDCOLOR: #F5F3FE;

  --PRIMARYICONCOLOR: #3730a3;
  --PRIMARYICONCOLORHOVER: #5D51E8;

  --SECTIONPADDING: 6REM 0;

  --ITEMBORDERRADIUS: 0.7REM;
}

* {
  MARGIN: 0;
  PADDING: 0;
  BOX-SIZING: BORDER-BOX;
  SCROLL-BEHAVIOR: SMOOTH;
}

BODY {
  FONT-FAMILY: "ROBOTO", SANS-SERIF;
}

.CONTACT-LEFT h3{
  margin-bottom: 30px;
}

H1,
H2,
H3,
H4,
H5,
H6,
STRONG {
  COLOR: VAR(--PRIMARYTEXTCOLOR);
}

P {
  FONT-SIZE: 1REM; /* 16 PX */
  LINE-HEIGHT: 1.9REM; /*30.4 PX */
}

P,
SPAN,
LABEL,
INPUT,
TEXTAREA,
LI {
  COLOR: VAR(--SECONDARYTEXTCOLOR);
}

A {
  TEXT-DECORATION: NONE;
}

/* END PREPARATION */

.MAIN-CONTAINER {
  WIDTH: 1200PX;
  MARGIN: 0 AUTO;
}

@MEDIA SCREEN AND (MAX-WIDTH: 1200PX) {
  .MAIN-CONTAINER {
    WIDTH: 90%;
  }
}

/* BUTTONS */
.BTN {
  PADDING: 1REM 1.5REM;
  BACKGROUND: WHITE;
  BORDER: 1.5PX SOLID VAR(--BORDERCOLOR);
  CURSOR: POINTER;
  TRANSITION: 0.2S EASE-IN-OUT;
}

.BTN:HOVER {
  BOX-SHADOW: RGBA(0, 0, 0, 0.04) 0PX 3PX 5PX;
}

/* TITLES */
.SECTION-TITLE {
  MARGIN: 1REM 0 4REM;
  FONT-SIZE: 2REM;
}

.PRE-TITLE {
  TEXT-TRANSFORM: UPPERCASE;
  LETTER-SPACING: 0.5REM;
  COLOR: VAR(--SECONDARYTEXTCOLOR);
  POSITION: RELATIVE;
  PADDING-LEFT: 40PX;
  WIDTH: FIT-CONTENT;
  FONT-WEIGHT: 400;
  FONT-SIZE: 0.9REM;
}

.PRE-TITLE::BEFORE {
  CONTENT: "";
  WIDTH: 30PX;
  HEIGHT: 1PX;
  BACKGROUND: VAR(--LINECOLOR);
  POSITION: ABSOLUTE;
  DISPLAY: BLOCK;
  LEFT: 0;
  TOP: 50%;
}

/* LAYOUTS */
.GRID-3 {
  DISPLAY: GRID;
  /* GRID-TEMPLATE-COLUMNS: 1FR 1FR 1FR; USE THIS FIRST, USE CODE BELOW WHEN ITS TIME FOR EXPLAINING RESPONSIVE DESIGN PART */
  GRID-TEMPLATE-COLUMNS: REPEAT(AUTO-FIT, MINMAX(250PX, 1FR));
  GAP: 3REM;
}

/* --- LOGO AND NAVIGATION MENU --- */
.NAV {
  DISPLAY: FLEX;
  JUSTIFY-CONTENT: SPACE-BETWEEN;
  PADDING: 2REM 0;
}

NAV UL {
  LIST-STYLE: NONE;
  DISPLAY: FLEX;
  GAP: 3REM;
}

/* LOGO */
.LOGO {
  DISPLAY: FLEX;
  ALIGN-ITEMS: CENTER;
  FONT-WEIGHT: 700;
  FONT-SIZE: 2REM;
}

.LOGO A {
  COLOR: VAR(--PRIMARYTEXTCOLOR);
}

/* NAVIGATION MENU */
NAV UL LI {
  DISPLAY: FLEX;
  ALIGN-ITEMS: CENTER;
}

NAV UL LI A {
  COLOR: VAR(--PRIMARYTEXTCOLOR);
}

/* BURGER - SAVE FOR LATER ON VIDEO */
.BURGER DIV {
  WIDTH: 25PX;
  HEIGHT: 2PX;
  BACKGROUND-COLOR: #000;
  MARGIN: 7PX;
  TRANSITION: ALL 0.3S;
  Z-INDEX: 99;
}

.BURGER {
  DISPLAY: NONE;
  Z-INDEX: 99;
  POSITION: FIXED;
  TOP: 33PX;
  RIGHT: 35PX;
}

/* HERO SECTION */
#HERO {
  DISPLAY: GRID;
  margin-top: 35px;
  GRID-TEMPLATE-COLUMNS: 1FR 1FR;
  /* WE'RE NOT GOING TO USE AUTOMATIC TEMPLATE COLUMNS, BECAUSE WE NEED TO KNOW WHEN THE COLUMNS IS GO BELOW. SO WE CAN EXCHANGE THE ORDER OF THE ELEMENT */
  ALIGN-ITEMS: CENTER;
}

.HERO-NAME {
  FONT-SIZE: 3REM;
  FONT-WEIGHT: 700;
  MARGIN: 0.5REM 0 1REM;
}

.HERO-NAME SPAN {
  COLOR: VAR(--PRIMARYICONCOLOR) !IMPORTANT;
}

.HERO-RIGHT IMG {
  WIDTH: 60%;
}

.HERO-RIGHT {
  DISPLAY: FLEX;
  JUSTIFY-CONTENT: CENTER;
}

/* SERVICES SECTION */
#SERVICES {
  BACKGROUND-COLOR: VAR(--SECONDARYBACKGROUNDCOLOR);
  PADDING: VAR(--SECTIONPADDING);
}

.SERVICES .PRE-TITLE {
  MARGIN: 0 AUTO;
}

.SERVICES-TITLE {
  TEXT-ALIGN: CENTER;
}

.SERVICE {
  PADDING: 3REM 2REM;
  TEXT-ALIGN: CENTER;
  BACKGROUND: VAR(--PRIMARYBACKGROUNDCOLOR);
  BORDER-RADIUS: VAR(--ITEMBORDERRADIUS);
}

.SERVICE H4 {
  MARGIN: 1.5REM 0;
  FONT-WEIGHT: 500;
  FONT-SIZE: 1.05REM;
}

.SERVICE-ICON {
  BACKGROUND: VAR(--THIRDBACKGROUNDCOLOR);
  WIDTH: FIT-CONTENT;
  MARGIN: 0 AUTO;
  PADDING: 1REM 1.3REM;
  BORDER-RADIUS: 0.5REM;
}

.SERVICE-ICON SVG {
  FILL: VAR(--PRIMARYICONCOLOR);
}

.SERVICE-ICON {
  BACKGROUND: VAR(--THIRDBACKGROUNDCOLOR);
  WIDTH: FIT-CONTENT;
  MARGIN: 0 AUTO;
  PADDING: 1REM 1.3REM;
  BORDER-RADIUS: 0.5REM;
}

.SERVICE-ICON SVG {
  FILL: VAR(--PRIMARYICONCOLOR);
}

/* PORTFOLIOS */
#PORTFOLIOS {
  PADDING: VAR(--SECTIONPADDING);
}

.PORTFOLIO {
  BORDER-RADIUS: VAR(--ITEMBORDERRADIUS);
  OVERFLOW: HIDDEN; /* SUPAYA GAMBAR YANG DIATAS ITU DIA NGIKUT BORDER RADIUSNYA, KARENA YANG DIKASIH BORDER RADIUS DISINI ADALAH DIV PORTFOLIO INI */
  BORDER: 1PX SOLID VAR(--BORDERCOLOR);
}

.PORTFOLIO-COVER {
  HEIGHT: 250PX;
}

.PORTFOLIO IMG {
  WIDTH: 100%;
  HEIGHT: 100%;
  OBJECT-FIT: COVER;
}

.PORTFOLIO-INFO {
  PADDING: 2REM 1.5REM;
}

.PORTFOLIO-TITLE {
  DISPLAY: FLEX;
  JUSTIFY-CONTENT: SPACE-BETWEEN;
  ALIGN-ITEMS: CENTER;
  GAP: 1REM;
}

.PORTFOLIO H4 {
  FONT-WEIGHT: 500;
  FONT-SIZE: 1.05REM;
}

.PORTFOLIO-TITLE A SVG:HOVER {
  FILL: VAR(--PRIMARYICONCOLOR);
}

.PORTFOLIO-TITLE A SVG {
  TRANSITION: 0.2S EASE-IN-OUT;
}

.PORTFOLIO-TAGS {
  DISPLAY: FLEX;
  GAP: 1REM;
  MARGIN: 1REM 0;
}

.PORTFOLIO-TAGS DIV {
  FONT-SIZE: 0.9REM;
  BORDER: 1PX SOLID VAR(--BORDERCOLOR);
  PADDING: 0.4REM 1REM;
  COLOR: VAR(--SECONDARYTEXTCOLOR);
}

.PORTFOLIO-TAGS DIV {
  FONT-SIZE: 0.9REM;
  BORDER: 1PX SOLID VAR(--BORDERCOLOR);
  PADDING: 0.4REM 1REM;
  COLOR: VAR(--SECONDARYTEXTCOLOR);
}

/* SKILLS AND EDUCATION */
#SKILLS {
  PADDING: VAR(--SECTIONPADDING);
  BACKGROUND: VAR(--SECONDARYBACKGROUNDCOLOR);
}

.SKILLS-GRID {
  DISPLAY: GRID;
  /* GRID-TEMPLATE-COLUMNS: 40% 60%; */
  GRID-TEMPLATE-COLUMNS: REPEAT(AUTO-FIT, MINMAX(350PX, 1FR));
  GAP: 3REM;
}

.EDUCATION {
  DISPLAY: FLEX;
  GAP: 1REM;
}

.EDUCATION .LINE {
  PADDING: 0 0.7REM;
}

.EDUCATION .LINE DIV {
  WIDTH: 2PX;
  HEIGHT: 100%;
  BACKGROUND: VAR(--BORDERCOLOR);
  POSITION: RELATIVE;
}

.EDUCATION-INFO P {
  MARGIN: 0.6REM 0 1.4REM;
}

.EDUCATION-YEARS {
  MARGIN-BOTTOM: 3REM;
}

/* THE DOT ON THE LINE */
.EDUCATION .LINE DIV:BEFORE {
  CONTENT: "";
  WIDTH: 15PX;
  HEIGHT: 15PX;
  BACKGROUND: VAR(--BORDERCOLOR);
  BORDER-RADIUS: 50%;
  POSITION: ABSOLUTE;
  LEFT: -6PX;
}

/* RIGHT SIDE OF SKILLS */
.SKILLS-LIST {
  DISPLAY: GRID;
  GRID-TEMPLATE-COLUMNS: 1FR 1FR;
  MARGIN-TOP: 1.5REM;
}

.SKILLS-RIGHT UL {
  LINE-HEIGHT: 2REM;
  PADDING: 0 1REM;
}

/* CONTACT SECTION */
#CONTACT {
  PADDING: VAR(--SECTIONPADDING);
}

.CONTACT {
  DISPLAY: GRID;
  /* GRID-TEMPLATE-COLUMNS: 1FR 1FR; */
  GRID-TEMPLATE-COLUMNS: REPEAT(AUTO-FIT, MINMAX(350PX, 1FR));
  GAP: 3REM;
}

.CONTACT-FORM DIV {
  MARGIN-BOTTOM: 1.4REM;
}

.CONTACT-FORM INPUT,
.CONTACT-FORM TEXTAREA {
  WIDTH: 100%;
  PADDING: 0.75REM 1.3REM;
  FONT-FAMILY: "ROBOTO", SANS-SERIF;
  BACKGROUND: VAR(--SECONDARYBACKGROUNDCOLOR);
  BORDER: 1PX SOLID VAR(--BORDERCOLOR);
  BORDER-RADIUS: 3PX;
  RESIZE: NONE;
}

.CONTACT-FORM INPUT::PLACEHOLDER,
.CONTACT-FORM TEXTAREA::PLACEHOLDER {
  COLOR: #9D9FA1;
}

.CONTACT-FORM INPUT:FOCUS,
.CONTACT-FORM TEXTAREA:FOCUS {
  OUTLINE: NONE;
  BORDER: 1PX SOLID #7D7D7D;
}

.BTN-SUBMIT {
  WIDTH: 100%;
  PADDING: 0.75REM 1.3REM;
  BACKGROUND-COLOR: VAR(--PRIMARYICONCOLOR);
  COLOR: #FFF;
  BORDER: NONE;
  BORDER-RADIUS: 3PX;
  CURSOR: POINTER;
  TRANSITION: 0.2S EASE-IN-OUT;
}

.BTN-SUBMIT:HOVER {
  BACKGROUND-COLOR: VAR(--PRIMARYICONCOLORHOVER);
}

/* CONTACT SECTION - RIGHT SIDE */
.CONTACT-ITEM {
  DISPLAY: FLEX;
  GAP: 1.5REM;
  MARGIN-BOTTOM: 2.5REM;
}

.CONTACT-ITEM-ICON {
  BACKGROUND: VAR(--THIRDBACKGROUNDCOLOR);
  /* PADDING: 0.8REM 1REM; */
  WIDTH: 53PX;
  HEIGHT: 53PX;
  BORDER-RADIUS: 9PX;
  DISPLAY: FLEX;
  ALIGN-ITEMS: CENTER;
  JUSTIFY-CONTENT: CENTER;
}

.CONTACT-ITEM-ICON SVG {
  FILL: VAR(--PRIMARYICONCOLOR);
}

.CONTACT-ITEM-DETAIL H4 {
  MARGIN-BOTTOM: 0.6REM;
}

/* FOOTER SECTION */
FOOTER {
  PADDING: 4REM 0;
  BACKGROUND: VAR(--SECONDARYBACKGROUNDCOLOR);
  TEXT-ALIGN: CENTER;
}

.FOOTER-ICONS {
  MARGIN-BOTTOM: 1REM;
}

.FOOTER-ICONS A {
  MARGIN: 0 0.5REM;
}

.FOOTER-ICONS SVG {
  FILL: #3E3F40;
}

.FOOTER-ICONS A:HOVER SVG {
  FILL: #000;
}